.logo_container{
    display: flex;
    /* border-bottom: 1px solid #eee; */
    align-items: center;
}

.logo_container h1 , .logo_container h2{
    font-family: Dancing Script;
}

.project_title {
    margin-right: 9em;
    padding: 1em 2em;
}
.body{
    height: 80em;
    background: #bdbdbd;
}